Repository WallexDefiTrade/reth, changes with the owners that CODEOWNERS names for each.
All owners: @gakonst, @onbjerg, @rakita, @rkrasiuk, @mattsse, @Rjected, @joshieDo, @shekhirin, @DaniPopes, @emhane, @fgimenez

CODEOWNERS:

*                           @gakonst
bin/                        @onbjerg
crates/blockchain-tree/     @rakita @rkrasiuk @mattsse @Rjected
crates/blockchain-tree-api/ @rakita @rkrasiuk @mattsse @Rjected
crates/cli/                 @onbjerg @mattsse
crates/config/              @onbjerg
crates/consensus/           @rkrasiuk @mattsse @Rjected
crates/e2e-test-utils/      @mattsse @Rjected
crates/engine-primitives/   @rkrasiuk @mattsse @Rjected
crates/errors/              @mattsse
crates/ethereum/            @mattsse @Rjected
crates/ethereum-forks/      @mattsse @Rjected
crates/etl/                 @joshieDo @shekhirin
crates/evm/                 @rakita @mattsse @Rjected @DaniPopes
crates/exex/                @onbjerg @shekhirin
crates/fs-util/
crates/metrics/             @onbjerg
crates/net/                 @emhane @mattsse @Rjected
crates/net/downloaders/     @onbjerg @rkrasiuk
crates/node/                @mattsse @Rjected @onbjerg
crates/node-core/           @mattsse @Rjected @onbjerg
crates/optimism/            @mattsse @Rjected @fgimenez
crates/payload/             @mattsse @Rjected
crates/primitives/          @DaniPopes @Rjected
crates/prune/               @shekhirin @joshieDo
crates/revm/                @mattsse @rakita
crates/rpc/                 @mattsse @Rjected
crates/stages/              @onbjerg @rkrasiuk @shekhirin
crates/static-file/         @joshieDo @shekhirin
crates/static-file-types/   @joshieDo @shekhirin
crates/storage/             @rakita @joshieDo @shekhirin
crates/tasks/               @mattsse
crates/tokio-util/          @fgimenez @emhane
crates/tracing/             @onbjerg
crates/transaction-pool/    @mattsse
crates/trie/                @rkrasiuk
.github/                    @onbjerg @gakonst @DaniPopes

fix: load finalized block on startup
  crates/consensus/beacon/src/engine/test_utils.rs
  crates/storage/provider/src/providers/chain_info.rs
  crates/storage/provider/src/providers/mod.rs
Owners: @rkrasiuk, @mattsse, @Rjected, @rakita, @joshieDo, @shekhirin

Also initialize safe head
  crates/storage/provider/src/providers/chain_info.rs
  crates/storage/provider/src/providers/mod.rs
Owners: @rakita, @joshieDo, @shekhirin

moved opt bin and cli runner to optimism-cli
  Cargo.lock
  crates/optimism/cli/Cargo.toml
  crates/optimism/cli/src/bin.rs
  crates/optimism/cli/src/lib.rs
Owners: @gakonst, @mattsse, @Rjected, @fgimenez

added cargo bin sections
  bin/reth/Cargo.toml
  crates/optimism/cli/Cargo.toml
  crates/optimism/cli/src/bin.rs
  crates/optimism/cli/src/lib.rs
  crates/optimism/cli/src/main.rs
Owners: @onbjerg, @mattsse, @Rjected, @fgimenez

added optimism bin crate
  crates/optimism/bin/Cargo.toml
  crates/optimism/bin/src/main.rs
Owners: @mattsse, @Rjected, @fgimenez

bin features
  crates/optimism/bin/Cargo.toml
Owners: @mattsse, @Rjected, @fgimenez

removed crate
  Cargo.lock
  Cargo.toml
  crates/optimism/cli/Cargo.toml
  crates/optimism/cli/src/lib.rs
  crates/optimism/cli/src/main.rs
Owners: @gakonst, @mattsse, @Rjected, @fgimenez

chore: fix cli runner docs
  crates/optimism/cli/src/lib.rs
Owners: @mattsse, @Rjected, @fgimenez

review
  Cargo.toml
  bin/reth-bench/Cargo.toml
  bin/reth/Cargo.toml
  crates/optimism/bin/Cargo.toml
  crates/optimism/cli/src/lib.rs
Owners: @gakonst, @onbjerg, @mattsse, @Rjected, @fgimenez

reth optimism cli feature
  crates/optimism/bin/Cargo.toml
  crates/optimism/cli/src/lib.rs
Owners: @mattsse, @Rjected, @fgimenez

add subscription to finalized headers
  crates/storage/provider/src/traits/chain.rs
  crates/storage/provider/src/traits/mod.rs
Owners: @rakita, @joshieDo, @shekhirin

answer comments
  crates/storage/provider/src/traits/chain.rs
  crates/storage/provider/src/traits/mod.rs
Owners: @rakita, @joshieDo, @shekhirin

fix doc
  crates/storage/provider/src/traits/chain.rs
Owners: @rakita, @joshieDo, @shekhirin

removing optimism flags from reth bin and op specific commands
  bin/reth/Cargo.toml
  bin/reth/src/cli/mod.rs
Owners: @onbjerg

removed cfg flag on block_excutor
  bin/reth/src/macros.rs
Owners: @onbjerg

removing optimism crates and cfg from reth bin
  Cargo.lock
  bin/reth/Cargo.toml
  bin/reth/src/commands/debug_cmd/build_block.rs
  bin/reth/src/commands/debug_cmd/replay_engine.rs
  bin/reth/src/main.rs
Owners: @gakonst, @onbjerg

removing top level cfg optimism
  crates/optimism/cli/src/lib.rs
  crates/optimism/node/src/lib.rs
Owners: @mattsse, @Rjected, @fgimenez

removing opt feature from cargo.toml
  crates/optimism/bin/Cargo.toml
Owners: @mattsse, @Rjected, @fgimenez

still removing cfg flags
  crates/optimism/consensus/src/lib.rs
  crates/optimism/evm/src/lib.rs
  crates/optimism/payload/src/lib.rs
Owners: @mattsse, @Rjected, @fgimenez

removed flag to calculate_receipt_root_opt
  crates/primitives/src/proofs.rs
Owners: @DaniPopes, @Rjected

enabling optimism feature for reth-primitives
  crates/optimism/consensus/Cargo.toml
  crates/primitives/src/proofs.rs
Owners: @mattsse, @Rjected, @fgimenez, @DaniPopes

removed block executor macro
  bin/reth/src/cli/mod.rs
  bin/reth/src/commands/debug_cmd/build_block.rs
  bin/reth/src/commands/debug_cmd/execution.rs
  bin/reth/src/commands/debug_cmd/in_memory_merkle.rs
  bin/reth/src/commands/debug_cmd/merkle.rs
  bin/reth/src/commands/debug_cmd/replay_engine.rs
  bin/reth/src/lib.rs
  bin/reth/src/macros.rs
Owners: @onbjerg
